* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.left {
  background: blue;
}
.right {
  background: red;
}
