* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  width: 1200px;
  height: 500px;
  background: red;
  margin-inline: auto;
}
.contain {
  border: 1px solid red;
  height: inherit;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
